[submodule "examples/OpenCVSkill/skill/robot/src/vendor/github.com/lazywei/go-opencv"]
	path = examples/OpenCVSkill/skill/robot/src/vendor/github.com/lazywei/go-opencv
	url = https://github.com/go-opencv/go-opencv.git
